.button {
  @include transition;

  background-color: $color-extra-light;
  border: 1px solid $color-brown;
  color: $color-green;
  display: block;
  grid-column: 2/8;
  margin: $spacing-40 auto 0 auto;
  max-height: max-content;
  max-width: max-content;
  padding: $spacing-10 $spacing-15;

  &:hover {
    background-color: $color-brown;
    color: $color-extra-light;
  }

  @media (min-width: $screen-large) {
    align-self: end;
    grid-column: 2/5;
    margin-top: $spacing-60;
  }
}

.button__text {
  margin-top: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}
