.circle {
  position: relative;
}

.circle--after {
  &::after {
    border: $height-line solid $color-brown;
    border-radius: 100%;
    content: '';
    height: $spacing-80;
    width: $spacing-80;
    z-index: $z-index-middle;
  }

  @media (min-width: $screen-large) {
    &::after {
      height: $spacing-200;
      width: $spacing-200;
    }
  }
}

.circle--top-left {
  &::after {
    left: -$spacing-40;
    position: absolute;
    top: -$spacing-40;
  }

  @media (min-width: $screen-large) {
    &::after {
      left: -$spacing-100;
      top: -$spacing-100;
    }
  }
}

.circle--top-right {
  &::after {
    position: absolute;
    right: -$spacing-40;
    top: -$spacing-40;
  }

  @media (min-width: $screen-large) {
    &::after {
      display: none;
    }
  }
}

.circle--bottom-right {
  &::after {
    bottom: -$spacing-40;
    position: absolute;
    right: -$spacing-40;
  }

  @media (min-width: $screen-large) {
    &::after {
      bottom: -$spacing-100;
      right: -$spacing-100;
    }
  }
}
