.contact__image {
  grid-column: 1/-1;
  height: $spacing-160;

  @media (min-width: $screen-small) {
    height: $spacing-240;
  }

  @media (min-width: $screen-larger) {
    height: $spacing-384;
  }
}

.contact__image-inner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact__address {
  text-align: center;
}
