.footer {
  @include container;

  margin: $spacing-0 auto;
  padding-top: $spacing-20;

  &::before {
    background-image: url('/src/images/icon-corn-green.svg');
    background-repeat: repeat-x;
    background-size: $spacing-25;
    content: '';
    height: 100%;
    opacity: 40%;
    position: absolute;
    top: -2rem;
    width: 100%;
    z-index: $z-index-lowest;
  }

  @media (min-width: $screen-large) {
    padding-top: $spacing-50;

    &::before {
      background-repeat: repeat;
      max-width: $max-width-880;
      right: $spacing-0;
      top: $spacing-0;
      width: 95%;
    }
  }
}

.footer__wrapper {
  background-color: $color-green;
  grid-column: 1/-1;
  padding: $spacing-60 $grid-spacing-outside $spacing-40 $grid-spacing-outside;

  @media (min-width: $screen-large) {
    grid-column: 1/7;
  }
}

.footer__logo {
  display: block;
  width: $spacing-120;

  &:hover {
    opacity: $opacity-hover;
    transform: scale($transform-scale);
  }
}

.footer__description {
  font-size: $font-size-small;
  margin: $spacing-15 $spacing-0;

  @media (min-width: $screen-large) {
    max-width: $max-width-650;
  }
}

.footer__navigation {
  @media (min-width: $screen-large) {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__navigation-list {
  display: grid;
  font-family: $font-family-span;
  font-size: $font-size-smaller;
  gap: $spacing-20 $spacing-15;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  margin-top: $spacing-25;
  text-transform: lowercase;

  > .footer__navigation-item {
    text-align: right;
  }

  > .footer__navigation-item:nth-child(2n) {
    text-align: left;
  }

  @media (min-width: $screen-small) {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: $spacing-25 auto $spacing-0 auto;
    max-width: $max-width-450;

    > .footer__navigation-item {
      text-align: left;
    }
  }

  @media (min-width: $screen-large) {
    margin: $spacing-25 $spacing-0 $spacing-0 $spacing-0;
  }
}

.footer__navigation-item-link {
  color: $color-extra-light;
  display: block;

  &:hover {
    color: $color-dark;
  }
}
