.header {
  display: block;
  padding: $spacing-0 $grid-spacing-outside;
}

.header__wrapper {
  align-items: center;
  border-bottom: 1px solid $color-brown;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $spacing-15 $spacing-0;

  @media (min-width: $screen-middle) and (max-width: $screen-large) {
    padding: $spacing-25 $spacing-0;
  }

  @media (min-width: $screen-large) {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 1fr;
  }
}

.header__input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header__logo {
  @include transition;

  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  position: relative;

  &:hover {
    opacity: 60%;
    transform: scale($transform-scale);
  }

  @media (min-width: $screen-large) {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 1;
    justify-content: center;
  }
}

.header__logo-icon {
  height: $spacing-20;
  padding-right: $spacing-10;

  @media (min-width: $screen-large) {
    height: $spacing-40;
    padding: $spacing-0 $spacing-0 $spacing-10 $spacing-0;
  }
}

.header__logo-title {
  @include font-montserrat-wide;

  color: $color-green;
  font-size: $font-size-smallest;
  font-weight: 500;

  @media (min-width: $screen-large) {
    font-size: $font-size-smaller;
  }
}

.header__navigation-button {
  @include transition;

  cursor: pointer;

  &:hover {
    opacity: 65%;
  }

  @media (min-width: $screen-large) {
    display: none;
  }
}

#navigation-open:not(:checked) {
  ~ .navigation {
    display: none;
  }

  @media (min-width: $screen-large) {
    ~ .navigation {
      display: block;
    }
  }
}
