.line {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.line--after {
  &::before {
    border-bottom: $height-line solid $color-red;
    content: '';
    margin-right: 0.5em;
    width: 100%;
  }
}

.line--after-hidden {
  &::after {
    display: none;

    @media (min-width: $screen-large) {
      display: block;
    }
  }
}

.line--before {
  &::before {
    border-bottom: $height-line solid $color-red;
    content: '';
    margin-right: 0.5em;
    width: 100%;
  }
}

.line--before-hidden {
  &::before {
    display: none;

    @media (min-width: $screen-small) {
      display: block;
    }
  }
}
