.line {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.line__inner {
  background-color: $color-red;
  height: $height-line;
  width: 100%;
}

.line--hidden {
  display: block;

  > .line__inner {
    display: none;
  }

  @media (min-width: $screen-large) {
    display: flex;

    > .line__inner {
      display: block;
    }
  }
}

.line--grid {
  @include padding-bottom;

  grid-column: 2/8;

  @media (min-width: $screen-huger) {
    grid-column: 1/8;
  }
}

.line__inner--left {
  margin-right: $spacing-20;
}

.line__inner--right {
  margin-left: $spacing-20;
}
