.philosophy {
  @include container;
  @include spacing;
}

.philosophy__headline {
  grid-column: 2/8;

  @media (min-width: $screen-middle) {
    text-align: center;
  }
}

.philosophy__text {
  grid-column: 2/8;

  > p {
    margin: $spacing-15 0;
  }
}

.philosophy__text--light {
  @media (min-width: $screen-large) {
    grid-column: 2/5;
  }
}

.philosophy__text--green {
  grid-column: 1/-1;
  padding: $spacing-25 $grid-spacing-outside;
  margin-top: $spacing-25;
  background-color: $color-light;

  @media (min-width: $screen-large) {
    grid-column: 6/9;
    grid-row: 3/5;
    padding: $spacing-25 ($grid-spacing-outside * 2);
    margin-top: $spacing-50;
  }
}
