.text {
  grid-column: 2/8;
  position: relative;
}

.text__inner {
  margin: $spacing-15 0;
}

.text--philosophy {
  @media (min-width: $screen-large) {
    grid-column: 2/5;
  }
}

.text--philosophy-green {
  grid-column: 1/-1;
  padding: $spacing-25 $grid-spacing-outside;
  margin-top: $spacing-25;
  background-color: $color-light;

  @media (min-width: $screen-large) {
    grid-column: 6/9;
    grid-row: 3/5;
    padding: $spacing-25 ($grid-spacing-outside * 2);
    margin-top: $spacing-50;
  }
}
