@font-face {
  font-display: swap;
  font-family: ivypresto-display, serif;
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-display: swap;
  font-family: ivypresto-display, serif;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-display: swap;
  font-family: adobe-caslon-pro, serif;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: montserrat, serif;
  font-style: normal;
  font-weight: 100;
  src: url('/src/fonts/Montserrat-Light.ttf');
}

@font-face {
  font-display: swap;
  font-family: montserrat, serif;
  font-style: normal;
  font-weight: 500;
  src: url('/src/fonts/Montserrat-Medium.ttf');
}
