html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-extra-light;
  color: $color-dark;
  font-family: $font-family-standard;
  font-size: $font-size-base;
  letter-spacing: $letter-spacing-standard;
  line-height: $line-height-standard;
  margin: 0 auto;
  max-width: $screen-huger;

  @media (min-width: $screen-huger) {
    padding: $spacing-0 $grid-spacing-outside;
  }
}

main {
  margin-top: $spacing-50;

  @media (min-width: $screen-middle) {
    margin-top: $spacing-60;
  }

  @media (min-width: $screen-large) {
    margin-top: $spacing-100;
  }
}

footer {
  color: $color-extra-light;
  position: relative;
  z-index: $z-index-standard;
}

h1,
h2,
h3 {
  color: $color-green;
  font-family: $font-family-headline;
  letter-spacing: $letter-spacing-tight;
  line-height: $line-height-tight;
  margin: $spacing-0 $spacing-0 $spacing-25 $spacing-0;
  text-transform: uppercase;

  @media (min-width: $screen-large) {
    margin: $spacing-0 $spacing-0 $spacing-40 $spacing-0;
  }
}

h1 {
  font-size: $font-size-largest;
  font-weight: 300;

  @media (min-width: $screen-small) {
    font-size: $font-size-huge;
  }

  @media (min-width: $screen-middle) {
    font-size: $font-size-huger;
    padding-top: $spacing-25;
  }

  @media (min-width: $screen-large) {
    font-size: $font-size-hugest;
  }
}

h2 {
  font-size: $font-size-largest;
  font-weight: 100;

  @media (min-width: $screen-middle) {
    font-size: $font-size-huge;
  }

  @media (min-width: $screen-large) {
    font-size: $font-size-huger;
  }
}

h3 {
  font-size: $font-size-large;
  font-weight: 100;

  @media (min-width: $screen-small) {
    font-size: $font-size-larger;
  }

  @media (min-width: $screen-middle) {
    font-size: $font-size-largest;
  }

  @media (min-width: $screen-large) {
    font-size: $font-size-huge;
  }
}

h4 {
  @include font-montserrat;

  color: $color-red;
  display: block;
  font-size: $font-size-small;
  margin: 0;
  white-space: nowrap;
  width: 100%;
}

a,
button,
label {
  @include transition;

  color: $color-dark;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $color-green;
  }

  &:focus {
    color: $color-brown;
    outline-color: $color-green;
  }

  &:active {
    color: $color-light;
  }
}

span {
  @include font-montserrat;

  color: $color-red;
  display: block;
  font-size: $font-size-smaller;
}

img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: $spacing-0;
  padding: $spacing-0;
}

figure,
blockquote,
hr {
  margin: $spacing-0;
}

::selection {
  background-color: $color-light;
}

.visually-hidden {
  clip: rect($spacing-0 $spacing-0 $spacing-0 $spacing-0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
