html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-extra-light;
  color: $color-dark;
  font-family: $font-family-standard;
  font-size: $font-size-mobile;
  letter-spacing: $letter-spacing-standard;
  line-height: $line-height-standard;

  @media (min-width: $screen-larger) {
    font-size: $font-size-desktop;
  }
}

main {
  margin-top: $spacing-50;

  @media (min-width: $screen-middle) {
    margin-top: $spacing-60;
  }

  @media (min-width: $screen-large) {
    margin-top: $spacing-100;
  }
}

footer {
  color: $color-extra-light;
  position: relative;
  z-index: $z-index-standard;
}

h1,
h2,
h3 {
  color: $color-green;
  font-family: $font-family-headline;
  letter-spacing: $letter-spacing-tight;
  line-height: $line-height-tight;
  margin-bottom: $spacing-25;
  text-transform: uppercase;

  @media (min-width: $screen-large) {
    margin-bottom: $spacing-40;
  }
}

h1 {
  font-size: $font-size-largest;
  font-weight: 300;

  @media (min-width: $screen-small) {
    font-size: $font-size-huge;
  }

  @media (min-width: $screen-middle) {
    font-size: $font-size-huger;
    padding-top: $spacing-25;
  }

  @media (min-width: $screen-large) {
    font-size: $font-size-hugest;
  }
}

h2 {
  font-size: $font-size-largest;
  font-weight: 100;

  @media (min-width: $screen-middle) {
    font-size: $font-size-huge;
  }

  @media (min-width: $screen-large) {
    font-size: $font-size-huger;
  }
}

h3 {
  font-size: $font-size-large;
  font-weight: 100;

  @media (min-width: $screen-small) {
    font-size: $font-size-larger;
  }

  @media (min-width: $screen-middle) {
    font-size: $font-size-largest;
  }

  @media (min-width: $screen-large) {
    font-size: $font-size-huge;
  }
}

h4 {
  @include font-montserrat;

  color: $color-red;
  display: block;
  font-size: $font-size-small;
  white-space: nowrap;
  width: 100%;
}

a {
  color: $color-dark;
  text-decoration: none;
}

span {
  @include font-montserrat;

  color: $color-red;
  display: block;
  font-size: $font-size-smaller;
}

img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

::selection {
  background-color: $color-light;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
