@mixin spacing() {
  margin: $grid-spacing-y-mobile auto;

  @media (min-width: $screen-middle) {
    margin: $spacing-100 auto;
  }

  @media (min-width: $screen-large) {
    margin: $grid-spacing-y-desktop auto;
  }

  @media (min-width: $screen-huge) {
    margin: $spacing-160 auto;
  }
}

@mixin spacing-top() {
  margin: $grid-spacing-y-mobile auto 0 auto;

  @media (min-width: $screen-middle) {
    margin: $spacing-100 auto 0 auto;
  }

  @media (min-width: $screen-large) {
    margin: $grid-spacing-y-desktop auto 0 auto;
  }

  @media (min-width: $screen-huge) {
    margin: $spacing-160 auto 0 auto;
  }
}

@mixin spacing-bottom() {
  margin: 0 auto $grid-spacing-y-mobile auto;

  @media (min-width: $screen-middle) {
    margin: 0 auto $spacing-100 auto;
  }

  @media (min-width: $screen-large) {
    margin: 0 auto $grid-spacing-y-desktop auto;
  }

  @media (min-width: $screen-huge) {
    margin: 0 auto $spacing-160 auto;
  }
}

@mixin padding-bottom() {
  padding-bottom: $spacing-25;

  @media (min-width: $screen-large) {
    padding-bottom: $spacing-40;
  }
}

@mixin container {
  display: grid;
  grid-template-columns: $grid-spacing-outside 20% $grid-spacing-outside 18% $grid-spacing-outside 32% $grid-spacing-outside $grid-spacing-outside;
  grid-template-rows: auto;
  max-width: $screen-huger;

  @media (min-width: $screen-huger) {
    padding: 0 $grid-spacing-outside;
  }
}

@mixin font-montserrat {
  font-family: $font-family-span;
  letter-spacing: $letter-spacing-standard;
  text-transform: uppercase;
}

@mixin font-montserrat-wide {
  font-family: $font-family-span;
  letter-spacing: $letter-spacing-wide;
  text-transform: uppercase;
}

@mixin font-ivypresto {
  font-family: $font-family-headline;
  font-weight: 100;
  letter-spacing: $letter-spacing-tight;
  line-height: $line-height-standard;
  text-transform: uppercase;
}

@mixin font-ivypresto-tight {
  font-family: $font-family-headline;
  font-weight: 100;
  letter-spacing: $letter-spacing-tight;
  line-height: $line-height-tight;
  text-transform: uppercase;
}

@mixin transition() {
  transition: $transition-type $transition-duration $transition-function;
}
